
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0078d7;
    color: white;
    padding: 1rem 0;
    text-align: center;
}


main {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}


